@font-face {
	font-family: font;
	src: url(../fonts/rocko-flf.otf);
}
body {
	font-family: "Verdana";
	min-width: 450px;
	max-height: 200px;
}
ol {
	list-style-position: inside;
	padding-left: 0;
}
#title {
	background-color: #CEE3F8;
	padding: 3px;
	font-size: 30px;
	font-weight: normal;
	font-family: font;
	display: inline-block;
	width: 100%;
}
#container {
	width: 100%;
}
.post {
	width: 100%;
	padding: 5px;
	display: block;
	overflow: auto;
	border-bottom: 1px solid #EEEFFF;
	-webkit-transition: background-color 0.5s;
}
.post:hover {
	background-color: #EEEFFF;
}
.text_container {
	height: auto;
	overflow: hidden;
}
.title_container {
	color: #9E9ABC;
}
a {
	text-decoration: none;
}
a.origin {
	color: #9E9ABC;
}
a.origin:hover {
	color: #9E9ABC;
	text-decoration: underline;
}
.image {
	float: left;
	margin-right: 4px;
}
.post_info {
	font-size: 10px;
	color: #9E9ABC;
}
#new_post {
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { background-color: #FF6200; }
    to   { opacity: #FFFFFF; }
}