@font-face {
	font-family: font;
	src: url(../fonts/rocko-flf.otf);
}
body {
	font-family: "Verdana";
	min-width: 450px;
	max-height: 200px;
}
ol {
	list-style-position: inside;
	padding-left: 0;
}
#title {
	background-color: #CEE3F8;
	padding: 3px;
	font-size: 30px;
	font-weight: normal;
	font-family: font;
	display: inline-block;
	width: 100%;
}
input[type=text] {
	box-sizing: border-box;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
    /*border: 2px solid #ccc;
    border-radius: 4px;*/
    border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.5s, width 0.5s;
    font-size: 16px;
    background-color: white;
    padding: 6px 6px 6px 6px;
    width: 175px;
    font-size: 16px;
    display: block;
}
input[type=text]:focus {
	outline: none;
	border-bottom: solid 2px #969696;
	width: 100%;
}
form {
	margin-bottom: 5px;
}
#reset { 
	font-size: 13px;
	color: blue;
}
#reset:hover {
	cursor: pointer;
	text-decoration: underline;
}
#error {
	font-family: "Verdana";
	font-size: 12px;
	color: red;
}
#container {
	width: 100%;
}
.post {
	width: 100%;
	padding: 5px;
	display: block;
	overflow: auto;
	border-bottom: 1px solid #EEEFFF;
	-webkit-transition: background-color 0.5s;
}
.post:hover {
	background-color: #EEEFFF;
}
.new_post {
	width: 100%;
	padding: 5px;
	display: block;
	overflow: auto;
	border-bottom: 1px solid #EEEFFF;
	background-color: #FF4500;
}
.text_container {
	height: auto;
	overflow: hidden;
}
.title_container {
	color: #9E9ABC;
}
a {
	text-decoration: none;
}
a.origin {
	color: #9E9ABC;
}
a.origin:hover {
	color: #9E9ABC;
	text-decoration: underline;
}
a.info {
	color: #527DC8;
}
a.comment {
	font-weight: bold;
	color: #888888;
}
a.info:hover {
	text-decoration: underline;
}
a.comment:hover {
	text-decoration: underline;
}
.image {
	float: left;
	margin-right: 4px;
}
.post_info {
	font-size: 10px;
	color: #9E9ABC;
}